Let's define a string and use the format method of strings to make a spiffier
printout. Suppose we wanted to print a person's name, age, and weight. Here is
a very brief introduction using name, age, and weight to illustrate.

In [1]:
nam1 = '"Teddy" Roosevelt'
nam2 = 'Theodore "Teddy" Roosevelt'
age = 60    
wt = 199.1515115

In [2]:
# minimal formating -- {n} represents data item n --- notice misalignment
out1 = "name: {0}  age: {1}  weight: {2}"

In [3]:
print("name: {0}  age: {1}  weight: {2}".format(nam1,age,wt))
print("name: {0}  age: {1}  weight: {2}".format(nam2,age,wt))

name: "Teddy" Roosevelt  age: 60  weight: 199.1515115
name: Theodore "Teddy" Roosevelt  age: 60  weight: 199.1515115

In [7]:
print(out1.format(nam1,age,wt))
print(out1.format(nam2,age,wt))

name: "Teddy" Roosevelt  age: 60  weight: 199.1515115
name: Theodore "Teddy" Roosevelt  age: 60  weight: 199.1515115

In [8]:
# better formatting > means right align (< and ^ would be left and center)
# the numbers represent the minimum characters occupied by the datum.
out2 = "name: {0:>26}  age: {1:>4}   weight: {2:>10}"

In [9]:
print(out2.format(nam1,age,wt))
print(out2.format(nam2,age,wt))

name:          "Teddy" Roosevelt  age:   60   weight: 199.1515115
name: Theodore "Teddy" Roosevelt  age:   60   weight: 199.1515115

In [10]:
# for the float (real number), allocate 5 spaces with 2 to the right of "."
out3 = "name: {0:>26}  age: {1:>4}   weight: {2:>5.2f}"

In [11]:
print(out3.format(nam1,age,wt))
print(out3.format(nam2,age,wt))

name:          "Teddy" Roosevelt  age:   60   weight: 199.15
name: Theodore "Teddy" Roosevelt  age:   60   weight: 199.15

In [12]:
s = "my short string"
n = 5.1234

In [13]:
print("Start||{0:25}||End".format(s))

Start||my short string          ||End

In [14]:
print("Start||{0:25}||End".format(n))

Start||                   5.1234||End

#### Exercise: 
Execute the following string and use it to try some of the following in the
print("Start||{???}||End".format(s)) statement that would enable you to see
what the format has done.  You can change what is in the {0:  } quickly, 
Ctrl-Enter to execute and see the result.  Or you can up-arrow and modify
the previous version.

a) Use {0} to just print the string with no formating; {} does the same thing

b) Use {0:25} to print the string allowing a width of 25 characters for it

c) Use {0:>25} to print the string right-aligned in a space of 25 characters

d) Use {0:<25} to print the string left-aligned in a space of 25 characters

e) Use {0:^25} to print the string centered in a space of 25 characters

In [15]:
s = "hello, there"

In [16]:
print("Start||{}||End".format(s))

Start||hello, there||End

In [18]:
print("Start||{0}||End".format(s))

Start||hello, there||End

In [19]:
print("Start||{}||End".format(s))
print("Start||{0}||End".format(s))
print("Start||{0:25}||End".format(s))
print("Start||{0:>25}||End".format(s))
print("Start||{0:<25}||End".format(s))
print("Start||{0:^25}||End".format(s))

Start||hello, there||End
Start||hello, there||End
Start||hello, there             ||End
Start||             hello, there||End
Start||hello, there             ||End
Start||      hello, there       ||End